[submodule "data"]
	path = data
	url = https://git.mchi.mcgill.ca/zack/data
[submodule "private"]
	path = private
	url = http://git.mchi.mcgill.ca/zack/private
[submodule "qc"]
	path = qc
	url = http://git.mchi.mcgill.ca/zack/qc.git
